ficherosEntrada/benchmark_ALC-3G3W4R2_2019-12-18.txt
ficherosEntrada/benchmark_ALC-G75X603_2019-12-18.txt
ficherosEntrada/benchmark_DESKTOP-2RVC015_2019-12-19.txt
ficherosEntrada/benchmark_DESKTOP-7HL5GMT_2019-12-19.txt
ficherosEntrada/info_aargiles_ALC-6S1S462.txt
ficherosEntrada/info_abalagup_ALC-B9J20D2.txt
ficherosEntrada/info_abordona_ALC-H7LQSC2.txt
ficherosEntrada/info_acanicio_ALC-JYY2MH2.txt
ficherosEntrada/info_acebrian_ALC-5T2Z9H2.txt
ficherosEntrada/info_aclimenl_ALC-8KN7952.txt
ficherosEntrada/info_agarcdel_ALC-F84P0N2.txt
ficherosEntrada/info_agarcled_ALC-3HGQP32.txt
ficherosEntrada/info_agarcrom_ALC-DB5DRC2.txt
ficherosEntrada/info_aivarsba_ALC-4642MH2.txt
ficherosEntrada/info_ajuangar_ALC-53P3L12.txt
ficherosEntrada/info_amartelr_ALC-83JPLZ1.txt
ficherosEntrada/info_apardocr_ALC-9PM9LH2.txt
ficherosEntrada/info_aperezan_ALC-4YN7R32.txt
ficherosEntrada/info_asanchcr_ALC-5VD73G2.txt
ficherosEntrada/info_asirvenm_ALC-1L7V4R2.txt
ficherosEntrada/info_bllorena_ALC-9CY7RC2.txt
ficherosEntrada/info_cmartgon_ALC-6X92F72.txt
ficherosEntrada/info_cmartgon_ALC-HGVR3Z2.txt
ficherosEntrada/info_cripavel_ALC-1LCY4R2.txt
ficherosEntrada/info_crodenas_ALC-FPJDRC2.txt
ficherosEntrada/info_dcatalag_ALC-6J4JM32.txt
ficherosEntrada/info_dduravil_ALC-3WWCCC2.txt
ficherosEntrada/info_dgarcval_ALC-B941BG2.txt
ficherosEntrada/info_drequena_ALC-CC7P0N2.txt
ficherosEntrada/info_dsanchma_ALC-CMH63G2.txt
ficherosEntrada/info_dsantosb_ALC-H4C22G2.txt
ficherosEntrada/info_dteruels_ALC-C0HP0N2.txt
ficherosEntrada/info_eibarrap_ALC-9FN89H2.txt
ficherosEntrada/info_esancmor_ALC-F2B4152.txt
ficherosEntrada/info_esendraa_ALC-2X82QH2.txt
ficherosEntrada/info_faleslop_ALC-3XCFCC2.txt
ficherosEntrada/info_ffonssan_ALC-41D6PN2.txt
ficherosEntrada/info_flloretn_ALC-G2G9LH2.txt
ficherosEntrada/info_flopecor_ALC-7HB4152.txt
ficherosEntrada/info_fmaestre_ALC-2TZCRC2.txt
ficherosEntrada/info_fmonzopo_ALC-9S593G2.txt
ficherosEntrada/info_fperiago_ALC-F2D6PN2.txt
ficherosEntrada/info_frodrico_ALC-7125PC2.txt
ficherosEntrada/info_ftomasfe_ALC-FHTW742.txt
ficherosEntrada/info_ftomasfe_ALC-G75X603.txt
ficherosEntrada/info_fvicedoa_ALC-9434F72.txt
ficherosEntrada/info_gbeldamo_ALC-7VN7952.txt
ficherosEntrada/info_gquilesm_ALC-DB32J42.txt
ficherosEntrada/info_hpastora_ALC-9GV2MH2.txt
ficherosEntrada/info_iestevem_ALC-14P3M72.txt
ficherosEntrada/info_ilopezma_ALC-3G3W4R2.txt
ficherosEntrada/info_ilopezru_ALC-86XY9H2.txt
ficherosEntrada/info_jclemenv_ALC-5V2FRC2.txt
ficherosEntrada/info_jcortijo_ALC-8F921G2.txt
ficherosEntrada/info_jgomezti_ALC-36DGRC2.txt
ficherosEntrada/info_jgonzaju_ALC-FMTW742.txt
ficherosEntrada/info_jmartifu_ALC-3G535R2.txt
ficherosEntrada/info_jmunoloz_ALC-357BPN2.txt
ficherosEntrada/info_jogonzag_ALC-1L8Z4R2.txt
ficherosEntrada/info_jordonch_ALC-8117Y52.txt
ficherosEntrada/info_jpadilll_ALC-HWN3L12.txt
ficherosEntrada/info_jpascuap_ALC-BTTW742.txt
ficherosEntrada/info_jsalinag_ALC-22TW742.txt
ficherosEntrada/info_jsanchfo_ALC-FTCKN72.txt
ficherosEntrada/info_jterolpe_ALC-4BZPQ52.txt
ficherosEntrada/info_jveraher_ALC-HNK6PN2.txt
ficherosEntrada/info_jvillamr_ALC-DYJDRC2.txt
ficherosEntrada/info_lmartpat_ALC-D8834J2.txt
ficherosEntrada/info_mgarrope_ALC-49N3L12.txt
ficherosEntrada/info_mguillsa_ALC-2L63J5J.txt
ficherosEntrada/info_mjaraque_ALC-2NSRQF2.txt
ficherosEntrada/info_mpalomar_ALC-7CRQQF2.txt
ficherosEntrada/info_nscalera_ALC-48M01G2.txt
ficherosEntrada/info_nscalera_ALC-50WW742.txt
ficherosEntrada/info_ozaldiva_ALC-58XY9H2.txt
ficherosEntrada/info_pcamusmo_ALC-CDRQQF2.txt
ficherosEntrada/info_pmateope_ALC-3G1W4R2.txt
ficherosEntrada/info_pmunoztr_ALC-893DJ32.txt
ficherosEntrada/info_pperezta_ALC-G60PQ52.txt
ficherosEntrada/info_prodrial_ALC-8JX2MH2.txt
ficherosEntrada/info_rcamposm_ALC-8MN7952.txt
ficherosEntrada/info_rmunozcr_ALC-GB32J42.txt
ficherosEntrada/info_rsalinal_ALC-8S4TK72.txt
ficherosEntrada/info_sgarcbal_ALC-3TZPQ52.txt
ficherosEntrada/info_slopezdi_ALC-9P1ZTF2.txt
ficherosEntrada/info_srocamog_ALC-BRM9LH2.txt
ficherosEntrada/info_Usuario_DESKTOP-2RVC015.txt
ficherosEntrada/info_Usuario_DESKTOP-7HL5GMT.txt
ficherosEntrada/info_vagullol_ALC-56WJM32.txt
ficherosEntrada/info_vmoraleb_ALC-73M8R32.txt
ficherosEntrada/info_wilhekop_ALC-6YDSYM2.txt
InformeHW.xlsx
docs/Diferencias INDICADORES_HEADCOUNT - dic18.xlsx
ficherosEntrada/info_ilopezma_ALC-3G3W4R2.txt
ficherosEntrada/info_Usuario_DESKTOP-2RVC015.txt
pyinformehw/data/pyinformehw.db
.vscode/settings.json
pyinformehw/__pycache__/__init__.cpython-38.pyc
pyinformehw/__pycache__/__main__.cpython-38.pyc
pyinformehw/__pycache__/app.cpython-38.pyc
pyinformehw/dao/__pycache__/__init__.cpython-38.pyc
pyinformehw/dao/__pycache__/base.cpython-38.pyc
.vscode/settings.json
pyinformehw/__pycache__/__init__.cpython-38.pyc
pyinformehw/__pycache__/__main__.cpython-38.pyc
pyinformehw/__pycache__/app.cpython-38.pyc
pyinformehw/dao/__pycache__/__init__.cpython-38.pyc
pyinformehw/dao/__pycache__/base.cpython-38.pyc
