ficherosEntrada/benchmark_*.txt
ficherosEntrada/info_*.txt
InformeHW.xlsx
docs/Diferencias INDICADORES_HEADCOUNT - dic18.xlsx
pyinformehw/data/pyinformehw.db
.vscode/*
pyinformehw/__pycache__/*
pyinformehw/dao/__pycache__/*
